Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
stamp-h1
src/.dirstamp
src/*.o
src/py_td_capture.cpp
build/
td_capture
*~